:root {
  --tg-theme-bg-color: #efeff3;
  --tg-theme-button-color: #2eaddc;
  --tg-theme-button-text-color: white;
}
.scrollbar-hide {
  scrollbar-width: none;  
  -ms-overflow-style: none;  
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  
}
